@media only screen and (max-width: 1400px) {
    // Chat
    .chat-wrapper {
        .chat-convo {
            .chat-convo-body {
                height: 92vmin;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    // Chat
    .chat-wrapper {
        .chat-convo {
            .chat-convo-body {
                height: 100vh;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    // Sidebar
    .sidebar {
        position: fixed;
        background: var(--color-white);
        z-index: 99;
        width: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;

        .sidebar-menu {
            top: 0;

            .sidebar-mb-pr {
                display: block;
                padding: 12px 14px 12px 14px;
            }
        }
    }

    #toggle-sidebar {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    // Sidebar
    .sidebar {
        position: fixed;
        background: var(--color-white);
        z-index: 99;
        width: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;

        .sidebar-menu {
            top: 0;

            .sidebar-mb-pr {
                display: block;
                padding: 12px 14px 12px 14px;
            }
        }
    }

    // Chat
    .chat-wrapper {
        grid-template-columns: 35% 65%;

        aside {
            display: none;
        }

        .chat-messages {
            padding: 24px 0 24px 0;
        }

        .chat-convo {
            .chat-convo-body {
                width: 65%;
                .chat-convo-buyer {
                    width: 65%;

                    .chat-convo-buyer-content {
                        .chat-convo-images {
                            a {
                                img {
                                    width: 65px;
                                }
                            }
                        }
                    }
                }

                .chat-convo-seller {
                    .chat-convo-seller-content {
                        max-width: 65%;

                        .chat-convo-images {
                            a {
                                img {
                                    width: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 567px) {
    // Typography
    span, p {
        font-size: 12px;
    }

    // Utilities
    .btn-floating-bottom {
        display: none;
    }

    // Container
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .authenticated-user {
        display: none;
    }

    // Notification Wrapper
    .notification-wrapper-toggle {
        width: 300px;
    }

    // Navbar
    .navbar {
        .navbar-content {
            .navbar-brand {
                img {
                    display: block;
                }
                
                span {
                    display: none;
                }
            }

            .navbar-menu {
                .navbar-items {
                    display: none;
                }
            }
        }
    }

    // Sidebar
    .sidebar {
        position: fixed;
        background: var(--color-white);
        z-index: 99;
        width: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;

        .sidebar-menu {
            top: 0;

            .sidebar-mb-pr {
                display: block;
                padding: 12px 14px 12px 14px;
            }
        }
    }

    #toggle-sidebar {
        display: block;
    }

    // Mobile Tabs
    .navbar-mb-tabs {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 14px;
        background-color: var(--color-white);
        box-shadow: var(--card-box-shadow);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    
        .navbar-mb-tab-items {
            display: grid;
            justify-items: center;
            align-items: center;
    
            span {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    // Chat
    .chat-wrapper {
        grid-template-columns: repeat(1, 1fr);
        
        .chat-aside {
            display: none;
        }

        .chat-messages {
            display: none;
            padding: 24px 12px 100px 12px;
        }

        .chat-convo {
            padding: 0;

            .chat-convo-header {
                position: relative;
                width: 100%;
                padding: 16px 0;

                .chat-convo-header-chevron-back {
                    display: block;
                    margin-right: 12px;

                    ion-icon {
                        font-size: 32px;
                    }
                }

                .chat-convo-header-user-img {
                    width: 30px;
                    height: 30px;
                }
            }

            .chat-convo-body {
                height: 175vmin;
                width: 102%;
                padding-left: 0;
                padding-right: 7px;

                .chat-convo-buyer {
                    .chat-convo-buyer-content {
                        .chat-convo-images {
                            grid-template-columns: repeat(3, 1fr);
                        }
                    }
                }

                .chat-convo-seller {
                    .chat-convo-seller-content {
                        .chat-convo-images {
                            grid-template-columns: repeat(3, 1fr);
                        }
                    }
                }
            }

            .chat-convo-input {
                width: 100%;
            }
        }
    }

    // Card
    .card {
        .card-footer {
            .card-footer-flex {
                display: grid;
            }
        }
    }
    
}