// Body
.disable-body-scroll {
    overflow-y: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

// Icon BG
.icon-bg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-bg-md {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 23px;
    }
}

.icon-bg-lg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 35px;
    }
}

// Sticky
.sticky-top {
    top: 72px;
    z-index: 9;
}
.fixed-bottom {
    z-index: 9;
}

// Toolbar
.card-toolbar-top {
    position: absolute;
    top: 6px;
    right: 6px;
}

// Badge
.notification-badge-number {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-danger);
    color: var(--color-white);
    top: -6px;
    right: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}

// Alignment
.badge-rigth {
    position: absolute;
    right: 12px;
}

// Tooltips
.tippy-box[data-theme~='gray'] {
    background-color: var(--color-gray);
    color: var(--color-white);
    padding: 4px;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }