
:root {
    // Body
    --body-default-bg: #f6f6f7;

    // Font Family
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;

    // Card
    --card-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

    // Border
    --border-radius-default: 4px;

    // Input
    --input-default-bg: #f1f1f1;

    // Color
    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-info: #0dcaf0;
    --color-success: #198754;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-white: #ffffff;
    --color-black: #28323b;
    --color-gray: #5c5f62;
    --color-light-gray: #c4c2c2;
}