header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--card-box-shadow);
    background-color: var(--color-white);
    height: 70px;
    z-index: 99;
    display: grid;
    justify-items: center;
    align-items: center;
}