.modal-open {
    padding-right: 0 !important;
}

.modal {
    .modal-dialog {
        @extend .scale-in-center;

        .modal-content {
            border: none;
            border-radius: 6px;
        }
    }
}
