.navbar {
    .navbar-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .navbar-brand {
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 0;
        }
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #0d6efd;
    background-color: transparent;
    font-weight: 600;
    border-bottom: 3px solid #0d6efd;
}

.nav-pills .nav-link {
    border-radius: 0;
}