html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    height: 100vh; 
}

body {
    font-family: var(--font-family-poppins);
    background: var(--body-default-bg);
    font-size: 0.9375rem;
    line-height: 1.75; 
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}